@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 250px;
}

.content-div:hover {
    transition: ease-in-out;
    transition-duration: 300ms;
    transform: translate(1.1,1.1) rotate(1.1) skewX(1.1) skewY(1.1 scaleX(1.1)scaleY(1.1));
    background-image: linear-gradient(
        to right,
        rgba(255, 203, 38, 0.8),
        hsla(30, 100%, 50%, 1)   
    )!important;
}